In [120]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
warnings.filterwarnings("ignore")
from matplotlib import pyplot as plt

In [137]:
df=pd.read_csv("exploratory_data.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi,gas,std,four,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [138]:
# checking for feature values distribution and their value counts
cat_col = df.dtypes[df.dtypes==object].index

for col in cat_col:
    print(df[col].value_counts())
    print("==================================")

toyota         32
nissan         18
mazda          15
mitsubishi     13
honda          13
volkswagen     12
subaru         12
peugeot        11
volvo          10
dodge           9
buick           8
bmw             8
plymouth        7
audi            6
saab            6
porsche         5
isuzu           4
jaguar          3
chevrolet       3
alfa-romero     3
renault         2
mercury         1
Name: CarName, dtype: int64
==================================
gas       182
diesel     19
Name: fueltype, dtype: int64
==================================
std      165
turbo     36
Name: aspiration, dtype: int64
==================================
four    113
two      88
Name: doornumber, dtype: int64
==================================
sedan          95
hatchback      68
wagon          24
hardtop         8
convertible     6
Name: carbody, dtype: int64
==================================
fwd    117
rwd     75
4wd      9
Name: drivewheel, dtype: int64
==================================
front    198
rear       3
Name: enginelocation, dtype: int64
==================================
ohc      144
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64
==================================
four      157
six        23
five       10
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64
==================================
mpfi    93
2bbl    64
idi     19
1bbl    11
spdi     9
4bbl     3
mfi      1
spfi     1
Name: fuelsystem, dtype: int64
==================================

In [139]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130.0,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152.0,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi,gas,std,four,sedan,fwd,front,99.8,...,109.0,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi,gas,std,four,sedan,4wd,front,99.4,...,136.0,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [140]:
df.drop(['car_ID'],axis=1,inplace=True)

In [141]:
highly_correlated_feature=df.corr()[(df.corr()["price"]>0.65)|(df.corr()["price"]<-0.65)]
highly_correlated_feature.head(20)

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
carlength,-0.356150,0.871914,1.000000,0.838318,0.492163,0.875451,0.683041,0.620573,0.121609,0.145312,0.551746,-0.297961,-0.669606,-0.703963,0.676706
carwidth,-0.230245,0.792206,0.838318,1.000000,0.272630,0.871420,0.744226,0.585403,0.175915,0.170432,0.649959,-0.233599,-0.644452,-0.678664,0.760292
curbweight,-0.221535,0.771390,0.875451,0.871420,0.294779,1.000000,0.851283,0.659483,0.162440,0.134581,0.751664,-0.272667,-0.758810,-0.798981,0.832117
enginesize,-0.102694,0.567409,0.683041,0.744226,0.066568,0.851283,1.000000,0.585888,0.199986,0.020793,0.808552,-0.248072,-0.652391,-0.677184,0.874409
horsepower,0.072973,0.350384,0.551746,0.649959,-0.108901,0.751664,0.808552,0.572542,0.077946,-0.213899,1.000000,0.129220,-0.801274,-0.772156,0.809444
citympg,-0.035765,-0.468125,-0.669606,-0.644452,-0.046948,-0.758810,-0.652391,-0.586654,-0.037879,0.333892,-0.801274,-0.108317,1.000000,0.973435,-0.685515
highwaympg,0.030827,-0.540567,-0.703963,-0.678664,-0.103767,-0.798981,-0.677184,-0.595587,-0.039282,0.282740,-0.772156,-0.051903,0.973435,1.000000,-0.696655
price,-0.071923,0.568875,0.676706,0.760292,0.115266,0.832117,0.874409,0.562051,0.072869,0.050258,0.809444,-0.087650,-0.685515,-0.696655,1.000000

In [142]:
highly_correlated_feature.index

Index(['carlength', 'carwidth', 'curbweight', 'enginesize', 'horsepower',
       'citympg', 'highwaympg', 'price'],
      dtype='object')

In [143]:
num_col=['carlength', 'carwidth', 'curbweight', 'enginesize', 'horsepower',
       'citympg', 'highwaympg', 'price']

In [144]:
cat_col = df.dtypes[df.dtypes==object].index
cat_col=cat_col.to_list()
cat_col

['CarName',
 'fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'enginetype',
 'cylindernumber',
 'fuelsystem']

In [145]:
cat_col_num_col=num_col
cat_col_num_col.extend(cat_col)
cat_col_num_col

['carlength',
 'carwidth',
 'curbweight',
 'enginesize',
 'horsepower',
 'citympg',
 'highwaympg',
 'price',
 'CarName',
 'fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'enginetype',
 'cylindernumber',
 'fuelsystem']

In [146]:
df.columns

Index(['symboling', 'CarName', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber',
       'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

In [147]:
df=df[cat_col_num_col]
df.head()

,carlength,carwidth,curbweight,enginesize,horsepower,citympg,highwaympg,price,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
0,168.8,64.1,2548,130.0,111,21,27,13495.0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,168.8,64.1,2548,130.0,111,21,27,16500.0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,171.2,65.5,2823,152.0,154,19,26,16500.0,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,176.6,66.2,2337,109.0,102,24,30,13950.0,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,176.6,66.4,2824,136.0,115,18,22,17450.0,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

In [148]:
CarName_price = df.groupby("CarName")["price"].mean()
CarName_price

CarName
alfa-romero    15498.333333
audi           17682.361167
bmw            26118.750000
buick          33647.000000
chevrolet       6007.000000
dodge           7875.444444
honda           8184.692308
isuzu           8916.500000
jaguar         34600.000000
mazda          11320.600000
mercury        16503.000000
mitsubishi      9239.769231
nissan         10415.666667
peugeot        15489.090909
plymouth        7963.428571
porsche        31400.500000
renault         9595.000000
saab           15223.333333
subaru          8541.250000
toyota          9885.812500
volkswagen     10077.500000
volvo          17622.500000
Name: price, dtype: float64

In [149]:
df["Avg_price"] =np.where(df["CarName"], CarName_price[df['CarName']], "NA")
df['Avg_price'] = df['Avg_price'].astype('float')
conditions = [(df['Avg_price'] > 20000),(df['Avg_price'] >10000),(df['Avg_price'] > 0)]
choices = ['High', 'Medium', 'Budget']
df['Avg_price_categorical'] = np.select(conditions, choices)

df.drop(['CarName'], axis=1,inplace=True)
df.drop(['Avg_price'], axis=1,inplace=True)
#df.drop(['price'], axis=1,inplace=True)

In [150]:
df.head()

,carlength,carwidth,curbweight,enginesize,horsepower,citympg,highwaympg,price,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,Avg_price_categorical
0,168.8,64.1,2548,130.0,111,21,27,13495.0,gas,std,two,convertible,rwd,front,dohc,four,mpfi,Medium
1,168.8,64.1,2548,130.0,111,21,27,16500.0,gas,std,two,convertible,rwd,front,dohc,four,mpfi,Medium
2,171.2,65.5,2823,152.0,154,19,26,16500.0,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,Medium
3,176.6,66.2,2337,109.0,102,24,30,13950.0,gas,std,four,sedan,fwd,front,ohc,four,mpfi,Medium
4,176.6,66.4,2824,136.0,115,18,22,17450.0,gas,std,four,sedan,4wd,front,ohc,five,mpfi,Medium

In [151]:
df.doornumber.replace({"two":2,"four":4},inplace=True)

# will removes rows which contains either hardtop or convertible or both as a carbody.
df = df[df["carbody"].str.contains("hardtop|convertible")  == False]

# will removes rows which contains 4wd as a drivewheel value
df = df[df["drivewheel"].str.contains("4wd")  == False]


# will removes rows which contains ohcf|rotor|dohcv as a enginetype value
df = df[df["enginetype"].str.contains("ohcf|rotor|dohcv")  == False]

# will removes rows which contains mfi|spfias a fuelsystem value
df = df[df["fuelsystem"].str.contains("mfi|spfi")  == False]

In [152]:
df.drop(['enginelocation'], axis=1,inplace=True)
#### Create A New Column combining highwaympg and citympg
df["mpg"] = (df["citympg"]+df["highwaympg"])/2
df.drop(["citympg"],axis=1,inplace=True)
df.drop(["highwaympg"],axis=1,inplace=True)

In [153]:
df.head()

,carlength,carwidth,curbweight,enginesize,horsepower,price,fueltype,aspiration,doornumber,carbody,drivewheel,enginetype,cylindernumber,fuelsystem,Avg_price_categorical,mpg
2,171.2,65.5,2823,152.0,154,16500.0,gas,std,2,hatchback,rwd,ohcv,six,mpfi,Medium,22.5
3,176.6,66.2,2337,109.0,102,13950.0,gas,std,4,sedan,fwd,ohc,four,mpfi,Medium,27.0
5,177.3,66.3,2507,136.0,110,15250.0,gas,std,2,sedan,fwd,ohc,five,mpfi,Medium,22.0
6,192.7,71.4,2844,136.0,110,17710.0,gas,std,4,sedan,fwd,ohc,five,mpfi,Medium,22.0
7,192.7,71.4,3086,131.0,140,23875.0,gas,turbo,4,sedan,fwd,ohc,five,mpfi,Medium,18.5

#### one hot encoding 

on features aspiration, doornumber, carbody,cylindernumber and drivewheel

In [154]:
dummies = pd.get_dummies(df[['fueltype', 'aspiration','carbody','cylindernumber','drivewheel','enginetype','fuelsystem','Avg_price_categorical']], drop_first=True)
dummies.head()

,fueltype_gas,aspiration_turbo,carbody_sedan,carbody_wagon,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,drivewheel_rwd,enginetype_l,enginetype_ohc,enginetype_ohcv,fuelsystem_2bbl,fuelsystem_idi,fuelsystem_mpfi,fuelsystem_spdi,Avg_price_categorical_High,Avg_price_categorical_Medium
2,1,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1
3,1,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1
5,1,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1
6,1,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1
7,1,1,1,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1

In [155]:
df= pd.concat([df.drop(['fueltype', 'aspiration','carbody','cylindernumber','drivewheel','enginetype','fuelsystem','Avg_price_categorical'],axis=1), dummies],axis=1)
df.head()

,carlength,carwidth,curbweight,enginesize,horsepower,price,doornumber,mpg,fueltype_gas,aspiration_turbo,...,drivewheel_rwd,enginetype_l,enginetype_ohc,enginetype_ohcv,fuelsystem_2bbl,fuelsystem_idi,fuelsystem_mpfi,fuelsystem_spdi,Avg_price_categorical_High,Avg_price_categorical_Medium
2,171.2,65.5,2823,152.0,154,16500.0,2,22.5,1,0,...,1,0,0,1,0,0,1,0,0,1
3,176.6,66.2,2337,109.0,102,13950.0,4,27.0,1,0,...,0,0,1,0,0,0,1,0,0,1
5,177.3,66.3,2507,136.0,110,15250.0,2,22.0,1,0,...,0,0,1,0,0,0,1,0,0,1
6,192.7,71.4,2844,136.0,110,17710.0,4,22.0,1,0,...,0,0,1,0,0,0,1,0,0,1
7,192.7,71.4,3086,131.0,140,23875.0,4,18.5,1,1,...,0,0,1,0,0,0,1,0,0,1

In [156]:
for i in df.columns:
    print(type(df[i].max()))

<class 'float'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'float'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>

In [158]:
df.columns

Index(['carlength', 'carwidth', 'curbweight', 'enginesize', 'horsepower',
       'price', 'doornumber', 'mpg', 'fueltype_gas', 'aspiration_turbo',
       'carbody_sedan', 'carbody_wagon', 'cylindernumber_five',
       'cylindernumber_four', 'cylindernumber_six', 'cylindernumber_three',
       'cylindernumber_twelve', 'drivewheel_rwd', 'enginetype_l',
       'enginetype_ohc', 'enginetype_ohcv', 'fuelsystem_2bbl',
       'fuelsystem_idi', 'fuelsystem_mpfi', 'fuelsystem_spdi',
       'Avg_price_categorical_High', 'Avg_price_categorical_Medium'],
      dtype='object')

In [161]:
x_data = df.drop('price',axis=1)

In [162]:
y_data = df['price']

In [163]:
x_data.to_csv("x_data.csv",index=False)

In [164]:
y_data.to_csv("y_data.csv",index=False)